.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.book {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.book img {
  width: 200px;
  height: 250px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.book h2 {
  margin: 5px;
  font-size: 16px;
}

.book p {
  margin: 5px;
  font-size: 14px;
}